<div class="jumbotron">
  <h1>Welcome to Shopping List</h1>
  <p>You can create, add a description, edit and update your shopping list easily through this app</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-primary" %>
</div>